<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат-бот</title>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/denisvasilyev9/babka/main/static/css/style.css"></link>
   
</head>
<body>
    <!-- Чат-бот -->
    <div id="chatWindow">
        <div id="messages"></div>
        <input type="text" id="userInput" placeholder="Введите сообщение...">
        <button id="sendMessage">Отправить</button>
    </div>

    <!-- Подсказки -->
    <div id="suggestions">
        <ul id="suggestionsList"></ul>
    </div>

    <!-- Скрипт -->
    <script src="https://raw.githubusercontent.com/denisvasilyev9/babka/main/script.js"></script>
</body>
</html>

